body {
  font-family: 'Poppins';
}

.front-first {
  background-color: #EBF5FF;
  border-bottom-left-radius: 28%;
  border-bottom-right-radius: 28%;
}

.front-last {
  background-color: #EBF5FF;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.bg-curve-expand {
  background-color: #EBF5FF;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 150%;
  margin-left: -25%;
}

.content-center-it {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.pad-along-x {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 992px) {
  .pad-along-x {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1200px) {
  .pad-along-x {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

.pad-along-bottom-x {
  width: 100%;
  padding-left: 27%;
  padding-right: 27%;
}

@media (min-width: 992px) {
  .pad-along-bottom-x {
    width: 100%;
    padding-left: 35%;
    padding-right: 35%;
  }
}

@media (min-width: 1200px) {
  .pad-along-bottom-x {
    width: 100%;
    padding-left: 37%;
    padding-right: 37%;
  }
}

.brand-name {
  font-size: large;
  color: #292F35;
  text-align: center;
}

.phone-box {
  background-color: rgba(255, 63, 63, 0.103);
  border-radius: 2px;
  color: #FF3F3F;
  display: inline-block;
  font-size: x-small;
}

h1 {
  color: #292F35;
  font-size: 3rem;
}

.info {
  font-family: 'Open Sans';
  font-size: large;
  color: #8A949F;
}

.input-box {
  border-radius: 2px;
  background-color: white;
  width: 60%;
  box-shadow: 0px 0px 6px #8A949F4D;
}

.input-grp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-entry {
  width: 70%;
  border: none;
  color: #8A949F;
  font-size: small;
  font-family: 'Open Sans';
}

.call-action-button {
  background-color: #1B8BF9;
  border-radius: 2px;
  box-shadow: 0px 4px 16px #1B8BF966;
  position: absolute;
  color: white;
  font-size: small;
  cursor: pointer;
  right: 10%;
  font-family: 'Open Sans';
}

@media (min-width: 992px) {
  .call-action-button {
    background-color: #1B8BF9;
    border-radius: 2px;
    box-shadow: 0px 4px 16px #1B8BF966;
    position: absolute;
    color: white;
    font-size: small;
    cursor: pointer;
    right: 30%;
    font-family: 'Open Sans';
  }
}

.shift-up {
  margin-top: -3rem;
}

.box {
  width: 100%;
  background-color: white;
  border-radius: 2px;
  border-top: 3px solid white;
  box-shadow: 0px 0px 3px #8A949F4D;
  cursor: pointer;
}

.orange-border {
  border-top-width: 3px;
  border-top-color: #FF7C3F;
}

.green-border {
  border-top-width: 3px;
  border-top-color: #2EBF6D;
}

.box.selected {
  box-shadow: 0px 0px 12px #8A949F4D;
}

.box-title {
  font-size: large;
  color: #292F35;
}

.box-description {
  font-size: x-small;
  color: #8A949F;
}

.box-values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.orange-item {
  font-size: x-small;
  color: #FF7C3F;
  background-color: rgba(255, 124, 63, 0.11);
  border-radius: 2px;
}

.green-item {
  font-size: x-small;
  color: #2EBF6D;
  background-color:rgba(46, 191, 109, 0.11);
  border-radius: 2px;
}

.icon-cover {
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
  font-size: x-large;
}

.orange-cover {
  color: #FF7C3F;
  background-color: rgba(255, 124, 63, 0.11);
}

.green-cover {
  color: #2EBF6D;
  background-color:rgba(46, 191, 109, 0.11);
}

.content-title {
  font-size: xx-large;
  color: #292F35;
}

.content-description {
  font-size: medium;
  color: #8A949F;
}

.closing-title {
  font-size: 3rem;
  color: #292F35;
}

.closing-description {
  font-size: medium;
  color: #8A949F;
}

.email-box {
  display: inline-block;
  background-color: #1B8BF9;
  border-radius: 2px;
  box-shadow: 0px 4px 16px #1B8BF966;
  color: white;
  font-size: small;
  cursor: pointer;
}

footer {
  background-color: #EBF5FF;
  border-top: 1px solid rgba(41, 47, 53, 0.048);
  font-family: 'Open Sans';
  font-size: small;
  color: #8A949F;
}

input:focus {
  border: none;
  background-color: white;
}